services:
  fl-server:
    image: fl-app-image:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: fl_server
    volumes:
      - ../src:/app
    networks:
      - fl-network

  client-full:
    image: fl-app-image:latest  # <--- Reusa a mesma imagem!
    depends_on:
      - fl-server
    volumes:
      - ../src:/app
    environment:
      - MODE=client
      - SERVER_URL=http://fl-server:5000
      - HOSTNAME=client-full
    networks:
      - fl-network

  client-noisy:
    image: fl-app-image:latest  # <--- Reusa a mesma imagem!
    container_name: cliente_instavel
    depends_on:
      - fl-server
    volumes:
      - ../src:/app
    environment:
      - MODE=client
      - SERVER_URL=http://fl-server:5000
      - HOSTNAME=client-noisy
    networks:
      - fl-network

  dashboard:
    image: fl-app-image:latest
    command: streamlit run dashboard.py --server.port 8501
    ports:
      - "8501:8501"
    volumes:
      - ../src:/app
    networks:
      - fl-network

  chaos-injector:
    image: alpine:latest
    container_name: chaos_injector
    # MUDANÇA 1: Montar o volume para compartilhar arquivos
    volumes:
      - ../src:/app
    # MUDANÇA 2: Rodar o script de loop
    command: sh /app/chaos_loop.sh
    cap_add:
      - NET_ADMIN
    network_mode: service:client-noisy
    depends_on:
      - client-noisy

networks:
  fl-network:
    driver: bridge